@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.wrapper {
  display: grid;
  gap: $gutter;
  min-width: 0;
}

.header {
  @include box;
}

.title {
  @include box-heading;
  font-size: 1rem;
}

.lead {
  color: var(--color-ink-2);
  font-size: 0.875rem;
}
